body {
  transition: background-color 200ms linear;
}
button {
  background: #ffffff;
  cursor: pointer;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #fe6637;
  transition: 0.2s ease-in-out;
}
button:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
button:hover {
  background: #fe6637;
  color: #ffffff;
}
button:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}
button[disabled] {
  color: #ffffff;
}
button[disabled]:hover {
  cursor: progress;
  background: #ffffff;
}